<% if @stylist.clients.any?() %>

  <h3>Here are all the clients of this stylist:</h3>

  <ul>
    <% @stylist.clients.each() do |client| %>

      <li><%= client.name() %></a> </li>
    <% end %>


  </ul>

  <% else %>
    <p>This stylist has no clients!</p>
  <% end %>

  <p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %> stylist</a></p>
  <a href="/">Return to Main Page</a>
